#no Tests for the #class command;

#class;                                 #no || bare class with semicolon;
#class                                  #no || bare class without semicolon;
#clas                                   #no || four character #class;
#cla                                    #no || three character #class;
#cl                                     #no || two character #class;
#c                                      #no || one character is not enough;
#classs                                 #no || too many characters don't mantch;
#class cls                              #no || arg not highlighted until disambiguated;
#class cls nonsense;                    #no || unknown modes not highlighted;

#class cls load;                        #no || load with various braces/spacings;
#class {cls} load;                      #no || load with various braces/spacings;
#class {cls}load;                       #no || load with various braces/spacings;
#class {cls}{load};                     #no || load with various braces/spacings;
#class {cls} {load};                    #no || load with various braces/spacings;
#class cls {load};                      #no || load with various braces/spacings;
#class cls{load};                       #no || spaces are needed after args without braces;
#class clsload;                         #no || spaces are needed after args without braces;

#class cls open;                        #no || open with various braces/spacings;
#class {cls} open;                      #no || open with various braces/spacings;
#class {cls}open;                       #no || open with various braces/spacings;
#class {cls}{open};                     #no || open with various braces/spacings;
#class {cls} {open};                    #no || open with various braces/spacings;
#class cls {open};                      #no || open with various braces/spacings;
#class cls{open};                       #no || spaces are needed after args without braces;
#class clsopen;                         #no || spaces are needed after args without braces;

#class cls read filename;               #no || read with various braces/spacings;
#class cls read {filename};             #no || read with various braces/spacings;
#class cls read{filename};              #no || spaces are needed after args without braces;
#class cls readfilename;                #no || spaces are needed after args without braces;
#class {cls} read filename;             #no || read with various braces/spacings;
#class {cls} read {filename};           #no || read with various braces/spacings;
#class {cls} read{filename};            #no || spaces are needed after args without braces;
#class {cls} readfilename;              #no || spaces are needed after args without braces;
#class {cls}read filename;              #no || read with various braces/spacings;
#class {cls}read {filename};            #no || read with various braces/spacings;
#class {cls}read{filename};             #no || spaces are needed after args without braces;
#class {cls}readfilename;               #no || spaces are needed after args without braces;
#class {cls}{read} filename;            #no || read with various braces/spacings;
#class {cls}{read} {filename};          #no || read with various braces/spacings;
#class {cls}{read}{filename};           #no || read with various braces/spacings;
#class {cls}{read}filename;             #no || read with various braces/spacings;
#class {cls} {read} filename;           #no || read with various braces/spacings;
#class {cls} {read} {filename};         #no || read with various braces/spacings;
#class {cls} {read}{filename};          #no || read with various braces/spacings;
#class {cls} {read}filename;            #no || read with various braces/spacings;
#class cls {read} filename;             #no || read with various braces/spacings;
#class cls {read} {filename};           #no || read with various braces/spacings;
#class cls {read}{filename};            #no || read with various braces/spacings;
#class cls {read}filename;              #no || read with various braces/spacings;
#class cls{read} filename;              #no || spaces are needed after args without braces;
#class cls{read} {filename};            #no || spaces are needed after args without braces;
#class cls{read}{filename};             #no || spaces are needed after args without braces;
#class cls{read}filename;               #no || spaces are needed after args without braces;
#class clsread filename;                #no || spaces are needed after args without braces;
#class clsread {filename};              #no || spaces are needed after args without braces;
#class clsread{filename};               #no || spaces are needed after args without braces;
#class clsreadfilename;                 #no || spaces are needed after args without braces;

#class cls assign argument;             #no || assign with various braces/spacings;
#class cls assign {argument};           #no || assign with various braces/spacings;
#class cls assign{argument};            #no || spaces are needed after args without braces;
#class cls assignargument;              #no || spaces are needed after args without braces;
#class {cls} assign argument;           #no || assign with various braces/spacings;
#class {cls} assign {argument};         #no || assign with various braces/spacings;
#class {cls} assign{argument};          #no || spaces are needed after args without braces;
#class {cls} assignargument;            #no || spaces are needed after args without braces;
#class {cls}assign argument;            #no || assign with various braces/spacings;
#class {cls}assign {argument};          #no || assign with various braces/spacings;
#class {cls}assign{argument};           #no || spaces are needed after args without braces;
#class {cls}assignargument;             #no || spaces are needed after args without braces;
#class {cls}{assign} argument;          #no || assign with various braces/spacings;
#class {cls}{assign} {argument};        #no || assign with various braces/spacings;
#class {cls}{assign}{argument};         #no || assign with various braces/spacings;
#class {cls}{assign}argument;           #no || assign with various braces/spacings;
#class {cls} {assign} argument;         #no || assign with various braces/spacings;
#class {cls} {assign} {argument};       #no || assign with various braces/spacings;
#class {cls} {assign}{argument};        #no || assign with various braces/spacings;
#class {cls} {assign}argument;          #no || assign with various braces/spacings;
#class cls {assign} argument;           #no || assign with various braces/spacings;
#class cls {assign} {argument};         #no || assign with various braces/spacings;
#class cls {assign}{argument};          #no || assign with various braces/spacings;
#class cls {assign}argument;            #no || assign with various braces/spacings;
#class cls{assign} argument;            #no || spaces are needed after args without braces;
#class cls{assign} {argument};          #no || spaces are needed after args without braces;
#class cls{assign}{argument};           #no || spaces are needed after args without braces;
#class cls{assign}argument;             #no || spaces are needed after args without braces;
#class clsassign argument;              #no || spaces are needed after args without braces;
#class clsassign {argument};            #no || spaces are needed after args without braces;
#class clsassign{argument};             #no || spaces are needed after args without braces;
#class clsassignargument;               #no || spaces are needed after args without braces;

#class cls list;                        #no || list with various braces/spacings;
#class {cls} list;                      #no || list with various braces/spacings;
#class {cls}list;                       #no || list with various braces/spacings;
#class {cls}{list};                     #no || list with various braces/spacings;
#class {cls} {list};                    #no || list with various braces/spacings;
#class cls {list};                      #no || list with various braces/spacings;
#class cls{list};                       #no || spaces are needed after args without braces;
#class clslist;                         #no || spaces are needed after args without braces;

#class cls save;                        #no || save with various braces/spacings;
#class {cls} save;                      #no || save with various braces/spacings;
#class {cls}save;                       #no || save with various braces/spacings;
#class {cls}{save};                     #no || save with various braces/spacings;
#class {cls} {save};                    #no || save with various braces/spacings;
#class cls {save};                      #no || save with various braces/spacings;
#class cls{save};                       #no || spaces are needed after args without braces;
#class clssave;                         #no || spaces are needed after args without braces;

#class cls write {filename};            #no || write with various braces/spacings;
#class {cls} write {filename};          #no || write with various braces/spacings;
#class {cls}write {filename};           #no || write with various braces/spacings;
#class {cls}{write} {filename};         #no || write with various braces/spacings;
#class {cls} {write} {filename};        #no || write with various braces/spacings;
#class cls {write} {filename};          #no || write with various braces/spacings;
#class cls{write} {filename};           #no || spaces are needed after args without braces;
#class clswrite {filename};             #no || spaces are needed after args without braces;

#class cls clear;                       #no || clear with various braces/spacings;
#class {cls} clear;                     #no || clear with various braces/spacings;
#class {cls}clear;                      #no || clear with various braces/spacings;
#class {cls}{clear};                    #no || clear with various braces/spacings;
#class {cls} {clear};                   #no || clear with various braces/spacings;
#class cls {clear};                     #no || clear with various braces/spacings;
#class cls{clear};                      #no || spaces are needed after args without braces;
#class clsclear;                        #no || spaces are needed after args without braces;

#class cls close;                       #no || close with various braces/spacings;
#class {cls} close;                     #no || close with various braces/spacings;
#class {cls}close;                      #no || close with various braces/spacings;
#class {cls}{close};                    #no || close with various braces/spacings;
#class {cls} {close};                   #no || close with various braces/spacings;
#class cls {close};                     #no || close with various braces/spacings;
#class cls{close};                      #no || spaces are needed after args without braces;
#class clsclose;                        #no || spaces are needed after args without braces;

#class cls kill;                        #no || kill with various braces/spacings;
#class {cls} kill;                      #no || kill with various braces/spacings;
#class {cls}kill;                       #no || kill with various braces/spacings;
#class {cls}{kill};                     #no || kill with various braces/spacings;
#class {cls} {kill};                    #no || kill with various braces/spacings;
#class cls {kill};                      #no || kill with various braces/spacings;
#class cls{kill};                       #no || spaces are needed after args without braces;
#class clskill;                         #no || spaces are needed after args without braces;

#class cls size result;                 #no || size with various braces/spacings;
#class cls size {result};               #no || size with various braces/spacings;
#class cls size{result};                #no || spaces are needed after args without braces;
#class cls sizeresult;                  #no || spaces are needed after args without braces;
#class {cls} size result;               #no || size with various braces/spacings;
#class {cls} size {result};             #no || size with various braces/spacings;
#class {cls} size{result};              #no || spaces are needed after args without braces;
#class {cls} sizeresult;                #no || spaces are needed after args without braces;
#class {cls}size result;                #no || size with various braces/spacings;
#class {cls}size {result};              #no || size with various braces/spacings;
#class {cls}size{result};               #no || spaces are needed after args without braces;
#class {cls}sizeresult;                 #no || spaces are needed after args without braces;
#class {cls}{size} result;              #no || size with various braces/spacings;
#class {cls}{size} {result};            #no || size with various braces/spacings;
#class {cls}{size}{result};             #no || size with various braces/spacings;
#class {cls}{size}result;               #no || size with various braces/spacings;
#class {cls} {size} result;             #no || size with various braces/spacings;
#class {cls} {size} {result};           #no || size with various braces/spacings;
#class {cls} {size}{result};            #no || size with various braces/spacings;
#class {cls} {size}result;              #no || size with various braces/spacings;
#class cls {size} result;               #no || size with various braces/spacings;
#class cls {size} {result};             #no || size with various braces/spacings;
#class cls {size}{result};              #no || size with various braces/spacings;
#class cls {size}result;                #no || size with various braces/spacings;
#class cls{size} result;                #no || spaces are needed after args without braces;
#class cls{size} {result};              #no || spaces are needed after args without braces;
#class cls{size}{result};               #no || spaces are needed after args without braces;
#class cls{size}result;                 #no || spaces are needed after args without braces;
#class clssize result;                  #no || spaces are needed after args without braces;
#class clssize {result};                #no || spaces are needed after args without braces;
#class clssize{result};                 #no || spaces are needed after args without braces;
#class clssizeresult;                   #no || spaces are needed after args without braces;