#no Tests for the #script command;

#script {ruby -e 'print "#show hello world"'};
#script {python -c 'print "#show hello world"'};
#script {php -r 'echo "#show hello world"'};
#script {path} {pwd};

