#no comment and unhighlighted $thing
that runs onto next line with an unhighlighted $thing too;

#nop comment terminated;
not a comment;

#function;
#function a{b};
#function a {b};
#function {a}{b};
#unfun z;
#unfun;

#list
#list seqcreate;
#list seqcreate; create
#list seq create;
#list seq {create};
#list {seq} create;
#list {seq}create;
#list {seq} {create};
#list {seq}{create};
#list seq add "test";
#list seq {size} result;
#list {seq}{find}{"test"}{result};

#loop
#loop;
#lOoP;
#loop {1} {10} var {};

#parse
#PaRsE;
#parse $string i {};
#parse {%0} elem {};

#foreach $seq elem {};
#foreach {%1} elem {};
#foreach {$items[%*]} {elem} {};

#alias something;

#line
#linez
#line;
#line gag;
#line strip something something;
#line capture result something;

#var things *hello;
$first
#show $first$second
#show ${first}$second
#show ${first}${second}

\something
!something
#action {~great}

%0
%1
%99
%100
%%
%+1s
%?
%a
%!{+2..5w}
%+
%?
%.
%*
%I
%i
%S
%+3U
%.5s

%.${val}s
1d${something}