#no Tests for regex and pattern matching;

#no Important failing tests;

#no Format basic matchers;
%a                                  #no || format: print corresponding charset character;
%c                                  #no || format: use a highlight color name;
%d                                  #no || format: print a number with integer formatting;
%f                                  #no || format: perform floating point math;
%g                                  #no || format: perform thousand grouping;
%h                                  #no || format: turn text into a header line;
%l                                  #no || format: lowercase text;
%m                                  #no || format: perform mathematical calculation;
%n                                  #no || format: capitalize the first letter;
%p                                  #no || format: strip leading and trailing spaces;
%r                                  #no || format: reverse text;
%s                                  #no || format: print given string;
%t                                  #no || format: display time with strftime format;
%u                                  #no || format: uppercase text;
%w                                  #no || format: store word weapped text in list;
%x                                  #no || format: hex, print corresponding charset character;
%A                                  #no || format: store corresponding character value;
%C                                  #no || format: store number on chronilogical notation;
%D                                  #no || format: convert hex to decimal;
%H                                  #no || format: store a 64 bit string hash;
%L                                  #no || format: store the string length;
%M                                  #no || format: convert number to metric;
%S                                  #no || format: store the number of spelling errors;
%T                                  #no || format: store the epoch time;
%U                                  #no || format: store the micro epoch time;
%X                                  #no || format: convert dec to hexadecimal;
%%                                  #no || format: literal "%" character;
%!X                                 #no || format: raw matching is not supported;
%{X}                                #no || format: braces not supported;

#no Format strftime format specifiers;
%a                                  #no || Abbreviated name of the day of the week (mon ... sun);
%A                                  #no || Full name of the day of the week. (Monday ... Sunday);
%b                                  #no || Abbreviated name of the month (Jan ... Dec);
%B                                  #no || Full name of the month. (January ... December);
%C                                  #no || 2 digit numeric century. (19 ... 20);
%d                                  #no || 2 digit numeric day of the month (01 ... 31);
%H                                  #no || 2 digit numeric 24-hour clock hour. (00 ... 23);
%I                                  #no || 2 digit numeric 12-hour clock hour. (01 ... 12);
%j                                  #no || 3 digit numeric day of the year (001 ... 366);
%m                                  #no || 2 digit numeric month of the year (01 ... 12);
%M                                  #no || 2 digit numeric minute of the hour (00 ... 59);
%p                                  #no || Abbreviated 12 hour clock period (AM ... PM);
%P                                  #no || Abbreviated 12 hour clock period (am ... pm);
%S                                  #no || 2 digit numeric second of the minute (00 ...59);
%u                                  #no || 1 digit numeric day of the week (1 ... 7);
%U                                  #no || 2 digit numeric Sunday week of the year (00 ... 53);
%w                                  #no || 1 digit numeric day of the week (0 ... 6);
%W                                  #no || 2 digit numeric Monday week of the year (00 ... 53);
%y                                  #no || 2 digit numeric year. (70 ... 38);
%Y                                  #no || 4 digit numeric year. (1970 ... 2038);
%z                                  #no || 5 digit timezone offset. (-1200 ... +1400);
%Z                                  #no || Abbreviated name of the time zone;

#no Format numeric matchers;
%+9s                                #no || format: pad string with up to 9 spaces;
%-9s                                #no || format: post pad string with up to 9 spaces;
%.8s                                #no || format: copy at most 8 characters;
%.${val}s                           #no || format: variables acceptable instead of integer;

#no Regex capture classes;
%P                                  #no || regexp: match 0 to any number of non printable characters;
%W                                  #no || regexp: match 0 to any number of non word characters;
%!W                                 #no || regexp: raw matching is ok for these matches;
%{W}                                #no || regexp: braces are ok for these matches;
%!{W}                               #no || regexp: raw matching and braces are ok together;
%+1a                                #no || regexp: match one character including newlines;
%+1A                                #no || regexp: match one newline;
%+1d                                #no || regexp: match one digit;
%+1D                                #no || regexp: match one non digit;
%+1p                                #no || regexp: match one printable character;
%+1P                                #no || regexp: match one non printable character;
%+1s                                #no || regexp: match one space;
%+1S                                #no || regexp: match one non space;
%+1u                                #no || regexp: match one unicode character;
%+1U                                #no || regexp: match one non unicode character;
%+1w                                #no || regexp: match one word character;
%+1W                                #no || regexp: match one non word character;
%+${num_match}W                     #no || regexp: match variable number of non word characters;
%+3..5s                             #no || regexp: match between three and five space;
%+${begin}..${end}s                 #no || regexp: match between two variable numbers;
%+0..w                              #no || regexp: match zero or more word characters;
%!+0..w                             #no || regexp: raw matching is ok for these matches;
%{+0..w}                            #no || regexp: braces are ok for these mtches;
%+                                  #no || regexp: match one to any number of characters;
%?                                  #no || regexp: match zero or one character;
%.                                  #no || regexp: match one character;
%!.                                 #no || regexp: raw matching is ok for these matches;
%{.}                                #no || regexp: braces are ok for these matches;
%*                                  #no || regexp: match zero to anny number of characters;
%i                                  #no || regexp: matching becomes case insensitive;
%I                                  #no || regexp: matching becomes case sensitive;
%{I}                                #no || regexp: braces are ok for these matches;
%+..w                               #no || regexp: there needs to be a first digit;
%+1c                                #no || regexp: c is a format matcher but not regexp;

#no Numeric captures from actions, aliases, etc.;
%0                                  #no || the entire matching string;
%1                                  #no || match 1;
%10                                 #no || match 10;
%99                                 #no || match 99 -- the last match;
%%1                                 #no || nested match 1;
%%10                                #no || nested match 10;
%%99                                #no || nested match 99 -- the last match;
%100                                #no || exceeding 99 -- 3rd digit not highlighted;
%00                                 #no || zero pad technically ok but not highlighted;
%01                                 #no || zero pad technically ok but not highlighted;
%%100                               #no || nested exceeding 99 -- 3rd digit not highlighted;
%%00                                #no || nested zero pad technically ok but not highlighted;
%%01                                #no || nested zero pad technically ok but not highlighted;

#no Regex matches;
&0                                  #no || the entire matching string;
&1                                  #no || match 1;
&10                                 #no || match 10;
&99                                 #no || match 99 -- the last match;
&100                                #no || exceeding 99 -- 3rd digit not highlighted;
&00                                 #no || zero pad technically ok but not highlighted;
&01                                 #no || zero pad technically ok but not highlighted;
