#no tests for variable definition commands;

#all;                                   #no || terminated bare command;
#all                                    #no || unterminated bare command;
#al                                     #no || command is too short;
#allz                                   #no || command is too long;
#all string;                            #no || command with unbraced argument;
#all {string};                          #no || command with braced argument;

#bell;                                  #no || terminated bare command;
#bell                                   #no || unterminated bare command;
#bel                                    #no || command is too short;
#bellz                                  #no || command is too long;

#bell flash on;                         #no || bell flash set to "on";
#bell flash {on};                       #no || bell flash set to "on";
#bell flash{on};                        #no || spaces are needed after args without braces;
#bell flashon;                          #no || spaces are needed after args without braces;
#bell {flash} on;                       #no || bell flash set to "on";
#bell {flash} {on};                     #no || bell flash set to "on";
#bell {flash}{on};                      #no || bell flash set to "on";
#bell {flash}on;                        #no || bell flash set to "on";
#bell flash off;                        #no || bell flash set to "off";
#bell flash other;                      #no || bell flash not highlighted if wrong value;
#bell flash $on_or_off;                 #no || variables are acceptable for the toggle;
#bell flash ${on_or_off};               #no || braced variables are acceptable for the toggle;

#bell focus on;                         #no || bell focus set to "on";
#bell focus {on};                       #no || bell focus set to "on";
#bell focus{on};                        #no || spaces are needed after args without braces;
#bell focuson;                          #no || spaces are needed after args without braces;
#bell {focus} on;                       #no || bell focus set to "on";
#bell {focus} {on};                     #no || bell focus set to "on";
#bell {focus}{on};                      #no || bell focus set to "on";
#bell {focus}on;                        #no || bell focus set to "on";
#bell focus off;                        #no || bell focus set to "off";
#bell focus other;                      #no || bell focus not highlighted if wrong value;

#bell margin on;                        #no || bell margin set to "on";
#bell margin {on};                      #no || bell margin set to "on";
#bell margin{on};                       #no || spaces are needed after args without braces;
#bell marginon;                         #no || spaces are needed after args without braces;
#bell {margin} on;                      #no || bell margin set to "on";
#bell {margin} {on};                    #no || bell margin set to "on";
#bell {margin}{on};                     #no || bell margin set to "on";
#bell {margin}on;                       #no || bell margin set to "on";
#bell margin off;                       #no || bell margin set to "off";
#bell margin other;                     #no || bell margin not highlighted if wrong value;

#bell ring;                             #no || bell ring is highlighted;
#bell {ring};                           #no || bell ring is highlighted with braces;
#bell {ring}blah;                       #no || bell ring is highlighted even with another arg;
#bell ring blah;                        #no || bell ring is highlighted even with another arg;
#bell ring{blah};                       #no || bell ring is not highlighted with more chars;

#bell volume;                           #no || volume not highlighted without argument;
#bell volume 1                          #no || volume highlighted with argument and no semicolon;
#bell volume 1;                         #no || volume highlighted with argument;
#bell volume {1};                       #no || volume highlighted with argument;
#bell volume{1};                        #no || spaces are needed after args without braces;
#bell volume1;                          #no || spaces are needed after args without braces;
#bell {volume} 1;                       #no || volume highlighted with argument;
#bell {volume} {1};                     #no || volume highlighted with argument;
#bell {volume}{1};                      #no || volume highlighted with argument;
#bell volume $x;                        #no || variables don't mess things up;
#bell volume ${x};                      #no || braced variables don't mess things up;
#bell volume {${x}};                    #no || braced variables in braces don't mess things up;

#buffer;                                #no || terminated bare #buffer command;
#buffer                                 #no || unterminated bare #buffer command;
#b                                      #no || not enough characters;
#bu                                     #no || works with two characters;
#buf                                    #no || works with three characters;
#buff                                   #no || works with four characters;
#buffe                                  #no || works with five characters;
#bufferz                                #no || doesn't work with extra characters;

#buffer home;                           #no || buffer home without arguments;
#buffer end;                            #no || buffer end without arguments;
#buffer clear;                          #no || buffer clear without arguments;
#buffer write;                          #no || buffer write without arguments;

#buffer up;                             #no || buffer up without arguments;
#buffer up 1;                           #no || buffer end with arguments;
#buffer down;                           #no || buffer down without arguments;
#buffer down 1;                         #no || buffer down with arguments;

#buffer find;                           #no XX bare find?;
#buffer find string;                    #no || buffer find with argument;
#buffer find 2 string;                  #no || buffer find with number and argument;

#buffer info;                           #no XX bare info??;
#buffer info save variable;             #no XX should info args be highlighted??;

#buffer get dest;                       #no || buffer get not highlighted without bounds;
#buffer get dest                        #no || buffer get is ok if unterminated without bounds;
#buffer get dest 1;                     #no || buffer get highlighted with a single bound;
#buffer get dest 1 1;                   #no || buffer get highlighted with two bounds;

#buffer lock on;                        #no || buffer lock set to "on";
#buffer lock {on};                      #no || buffer lock set to "on";
#buffer lock{on};                       #no || spaces are needed after args without braces;
#buffer lockon;                         #no || spaces are needed after args without braces;
#buffer {lock} on;                      #no || buffer lock set to "on";
#buffer {lock} {on};                    #no || buffer lock set to "on";
#buffer {lock}{on};                     #no || buffer lock set to "on";
#buffer {lock}on;                       #no || buffer lock set to "on";
#buffer lock off;                       #no || buffer lock set to "off";
#buffer lock other;                     #no || buffer lock not highlighted if wrong value;
