#no Tests for the #daemon command;

#daemon;                                #no || bare daemon with semicolon;
#daemon                                 #no || bare daemon without semicolon;
#daemo                                  #no || five character #daemon;
#daem                                   #no || four character #daemon;
#dae                                    #no || three character #daemon;
#da                                     #no || two character #daemon;
#d                                      #no || one character #daemon;
#daemons                                #no || too many characters don't match;
#daemon nonsense;                       #no || unknown modes not highlighted;

#no Tests for options;
#daemon {attach} {name};                #no || braced option & braced argument;
#daemon {attach} {name}                 #no || braced option & braced argument without semicolon;
#daemon {attach}{name};                 #no || braced option & braced argument without space;
#daemon {attach} name;                  #no || braced option & unbraced argument;
#daemon {attach}name;                   #no || braced option & unbraced argument without space;
#daemon attach {name};                  #no || unbraced option & braced argument;
#daemon attach{name};                   #no || unbraced option & braced argument needs space;
#daemon attach name;                    #no || unbraced option & unbraced argument;
#daemon {attach};                       #no || braced option without argument;
#daemon {attach}                        #no || braced option without argument or semicolon;
#daemon attach;                         #no || unbraced option without argument;
#daemon attach                          #no || unbraced option without argument or semicolon;
#daemon {a} {name};                     #no || short braced option & braced argument;
#daemon {a} {name}                      #no || short braced option & argument no semicolon;
#daemon {a}{name};                      #no || short braced option & argument without space;
#daemon {a} name;                       #no || short braced option & unbraced argument;
#daemon {a}name;                        #no || short braced option & unbraced argument no space;
#daemon a {name};                       #no || short unbraced option & braced argument;
#daemon a{name};                        #no || short unbraced option & braced argument needs space;
#daemon {a};                            #no || short braced option without argument;
#daemon {a}                             #no || short braced option without argument or semicolon;
#daemon a;                              #no || short unbraced option without argument;
#daemon a                               #no || short unbraced option without argument or semicolon;

#daemon {detach} {name};                #no || braced option & braced argument;
#daemon {detach} {name}                 #no || braced option & braced argument without semicolon;
#daemon {detach}{name};                 #no || braced option & braced argument without space;
#daemon {detach} name;                  #no || braced option & unbraced argument;
#daemon {detach}name;                   #no || braced option & unbraced argument without space;
#daemon detach {name};                  #no || unbraced option & braced argument;
#daemon detach{name};                   #no || unbraced option & braced argument needs space;
#daemon detach name;                    #no || unbraced option & unbraced argument;
#daemon {detach};                       #no || braced option without argument;
#daemon {detach}                        #no || braced option without argument or semicolon;
#daemon detach;                         #no || unbraced option without argument;
#daemon detach                          #no || unbraced option without argument or semicolon;
#daemon {d} {name};                     #no || short braced option & braced argument;
#daemon {d} {name}                      #no || short braced option & argument no semicolon;
#daemon {d}{name};                      #no || short braced option & argument without space;
#daemon {d} name;                       #no || short braced option & unbraced argument;
#daemon {d}name;                        #no || short braced option & unbraced argument no space;
#daemon d {name};                       #no || short unbraced option & braced argument;
#daemon d{name};                        #no || short unbraced option & braced argument needs space;
#daemon {d};                            #no || short braced option without argument;
#daemon {d}                             #no || short braced option without argument or semicolon;
#daemon d;                              #no || short unbraced option without argument;
#daemon d                               #no || short unbraced option without argument or semicolon;

#daemon {input} {name};                 #no || braced option & braced argument;
#daemon {input} {name}                  #no || braced option & braced argument without semicolon;
#daemon {input}{name};                  #no || braced option & braced argument without space;
#daemon {input} name;                   #no || braced option & unbraced argument;
#daemon {input}name;                    #no || braced option & unbraced argument without space;
#daemon input {name};                   #no || unbraced option & braced argument;
#daemon input{name};                    #no || unbraced option & braced argument needs space;
#daemon input name;                     #no || unbraced option & unbraced argument;
#daemon {input};                        #no || braced option without argument;
#daemon {input}                         #no || braced option without argument or semicolon;
#daemon input;                          #no || unbraced option without argument;
#daemon input                           #no || unbraced option without argument or semicolon;
#daemon {i} {name};                     #no || short braced option & braced argument;
#daemon {i} {name}                      #no || short braced option & argument no semicolon;
#daemon {i}{name};                      #no || short braced option & argument without space;
#daemon {i} name;                       #no || short braced option & unbraced argument;
#daemon {i}name;                        #no || short braced option & unbraced argument no space;
#daemon i {name};                       #no || short unbraced option & braced argument;
#daemon i{name};                        #no || short unbraced option & braced argument needs space;
#daemon {i};                            #no || short braced option without argument;
#daemon {i}                             #no || short braced option without argument or semicolon;
#daemon i;                              #no || short unbraced option without argument;
#daemon i                               #no || short unbraced option without argument or semicolon;

#daemon {kill} {name};                  #no || braced option & braced argument;
#daemon {kill} {name}                   #no || braced option & braced argument without semicolon;
#daemon {kill}{name};                   #no || braced option & braced argument without space;
#daemon {kill} name;                    #no || braced option & unbraced argument;
#daemon {kill}name;                     #no || braced option & unbraced argument without space;
#daemon kill {name};                    #no || unbraced option & braced argument;
#daemon kill{name};                     #no || unbraced option & braced argument needs space;
#daemon kill name;                      #no || unbraced option & unbraced argument;
#daemon {kill};                         #no || braced option without argument;
#daemon {kill}                          #no || braced option without argument or semicolon;
#daemon kill;                           #no || unbraced option without argument;
#daemon kill                            #no || unbraced option without argument or semicolon;
#daemon {k} {name};                     #no || short braced option & braced argument;
#daemon {k} {name}                      #no || short braced option & argument no semicolon;
#daemon {k}{name};                      #no || short braced option & argument without space;
#daemon {k} name;                       #no || short braced option & unbraced argument;
#daemon {k}name;                        #no || short braced option & unbraced argument no space;
#daemon k {name};                       #no || short unbraced option & braced argument;
#daemon k{name};                        #no || short unbraced option & braced argument needs space;
#daemon {k};                            #no || short braced option without argument;
#daemon {k}                             #no || short braced option without argument or semicolon;
#daemon k;                              #no || short unbraced option without argument;
#daemon k                               #no || short unbraced option without argument or semicolon;

#daemon {list} {name};                  #no || braced option & braced argument;
#daemon {list} {name}                   #no || braced option & braced argument without semicolon;
#daemon {list}{name};                   #no || braced option & braced argument without space;
#daemon {list} name;                    #no || braced option & unbraced argument;
#daemon {list}name;                     #no || braced option & unbraced argument without space;
#daemon list {name};                    #no || unbraced option & braced argument;
#daemon list{name};                     #no || unbraced option & braced argument needs space;
#daemon list name;                      #no || unbraced option & unbraced argument;
#daemon {list};                         #no || braced option without argument;
#daemon {list}                          #no || braced option without argument or semicolon;
#daemon list;                           #no || unbraced option without argument;
#daemon list                            #no || unbraced option without argument or semicolon;
#daemon {l} {name};                     #no || short braced option & braced argument;
#daemon {l} {name}                      #no || short braced option & argument no semicolon;
#daemon {l}{name};                      #no || short braced option & argument without space;
#daemon {l} name;                       #no || short braced option & unbraced argument;
#daemon {l}name;                        #no || short braced option & unbraced argument no space;
#daemon l {name};                       #no || short unbraced option & braced argument;
#daemon l{name};                        #no || short unbraced option & braced argument needs space;
#daemon {l};                            #no || short braced option without argument;
#daemon {l}                             #no || short braced option without argument or semicolon;
#daemon l;                              #no || short unbraced option without argument;
#daemon l                               #no || short unbraced option without argument or semicolon;