#no Tests for the #line command;

#line;                                 #no || bare line with semicolon;
#line                                  #no || bare line without semicolon;
#lin                                   #no || three character #line;
#li                                    #no || two character #line;
#l                                     #no || one character #line;
#lines                                 #no || too many characters don't match;
#line nonsense;                        #no || unknown modes not highlighted;

#line log filename text;               #no || log with various braces/spacings;
#line {log} filename text;             #no || log with various braces/spacings;
#line {log}filename text;              #no || log with various braces/spacings;
#line {log}{filename} text;            #no || log with various braces/spacings;
#line {log} {filename} text;           #no || log with various braces/spacings;
#line log {filename} text;             #no || log with various braces/spacings;
#line log{filename} text;              #no || log with various braces/spacings;

#line logverbatim filename text;       #no || logverbatim with various braces/spacings;
#line {logverbatim} filename text;     #no || logverbatim with various braces/spacings;
#line {logverbatim}filename text;      #no || logverbatim with various braces/spacings;
#line {logverbatim}{filename} text;    #no || logverbatim with various braces/spacings;
#line {logverbatim} {filename} text;   #no || logverbatim with various braces/spacings;
#line logverbatim {filename} text;     #no || logverbatim with various braces/spacings;
#line logverbatim{filename} text;      #no || logverbatim with various braces/spacings;

#line strip text;                      #no || strip with various braces/spacings;
#line {strip} text;                    #no || strip with various braces/spacings;
#line {strip}text;                     #no || strip with various braces/spacings;
#line {strip}{text};                   #no || strip with various braces/spacings;
#line {strip} {text};                  #no || strip with various braces/spacings;
#line strip {text};                    #no || strip with various braces/spacings;
#line strip{text};                     #no || strip with various braces/spacings;

#line substitute text;                 #no || substitute with various braces/spacings;
#line {substitute} text;               #no || substitute with various braces/spacings;
#line {substitute}text;                #no || substitute with various braces/spacings;
#line {substitute}{text};              #no || substitute with various braces/spacings;
#line {substitute} {text};             #no || substitute with various braces/spacings;
#line substitute {text};               #no || substitute with various braces/spacings;
#line substitute{text};                #no || substitute with various braces/spacings;

#line gag                              #no || gag without a semicolon ok for highlighting;
#line gag;                             #no || gag standard in all ways;
#line {gag};                           #no || gag with braces;
#line gag text;                        #no || gag with various braces/spacings;
#line {gag} text;                      #no XX this should not highlight;
#line {gag}text;                       #no || gag with various braces/spacings;
#line {gag}{text};                     #no || gag with various braces/spacings;
#line {gag} {text};                    #no XX this should not highlight;
#line gag {text};                      #no || gag with various braces/spacings;
#line gag{text};                       #no || substitute with various braces/spacings;

#line capture                          #no || capture without semicolon or var doesn't highlight;
#line capture;                         #no || capture without var doesn't highlight;
#line {capture}                        #no || capture without semicolon or var doesn't highlight;
#line {capture};                       #no || capture without var doesn't highlight;
#line capture result;                  #no || capture without additional arg  doesn't highlight;
#line capture result text              #no || capture works without a semicolon;
#line capture result text;             #no || capture with various braces/spacings;
#line capture result {text};           #no || capture with various braces/spacings;
#line capture result{text};            #no || spaces are needed after args without braces;
#line capture resulttext;              #no || spaces are needed after args without braces;
#line {capture} result text;           #no || capture with various braces/spacings;
#line {capture} result {text};         #no || capture with various braces/spacings;
#line {capture} result{text};          #no || spaces are needed after args without braces;
#line {capture} resulttext;            #no || spaces are needed after args without braces;
#line {capture}result text;            #no || capture with various braces/spacings;
#line {capture}result {text};          #no || capture with various braces/spacings;
#line {capture}result{text};           #no || spaces are needed after args without braces;
#line {capture}resulttext;             #no || spaces are needed after args without braces;
#line {capture}{result} text;          #no || capture with various braces/spacings;
#line {capture}{result} {text};        #no || capture with various braces/spacings;
#line {capture}{result}{text};         #no || capture with various braces/spacings;
#line {capture}{result}text;           #no || capture with various braces/spacings;
#line {capture} {result} text;         #no || capture with various braces/spacings;
#line {capture} {result} {text};       #no || capture with various braces/spacings;
#line {capture} {result}{text};        #no || capture with various braces/spacings;
#line {capture} {result}text;          #no || capture with various braces/spacings;
#line capture {result} text;           #no || capture with various braces/spacings;
#line capture {result} {text};         #no || capture with various braces/spacings;
#line capture {result}{text};          #no || capture with various braces/spacings;
#line capture {result}text;            #no || capture with various braces/spacings;
#line capture{result} text;            #no || spaces are needed after args without braces;
#line capture{result} {text};          #no || spaces are needed after args without braces;
#line capture{result}{text};           #no || spaces are needed after args without braces;
#line capture{result}text;             #no || spaces are needed after args without braces;
#line captureresult text;              #no || spaces are needed after args without braces;
#line captureresult {text};            #no || spaces are needed after args without braces;
#line captureresult{text};             #no || spaces are needed after args without braces;
#line captureresulttext;               #no || spaces are needed after args without braces;
