#no Tests for the #list command;

#list;                                  #no || bare list with semicolon;
#list                                   #no || bare list without semicolon;
#lis                                    #no || three character #list;
#li                                     #no || two characters match #line instead;
#lists                                  #no || too many characters don't match;
#list seq                               #no || arg not highlighted until disambiguated;
#class seq nonsense;                    #no || unknown modes not highlighted;

#list seq add item;                     #no || add {item} to the list;
#list seq add {item};                   #no || add {item} to the list;
#list seq add{item};                    #no || spaces are needed after args without braces;
#list seq additem;                      #no || spaces are needed after args without braces;
#list {seq} add item;                   #no || add {item} to the list;
#list {seq} add {item};                 #no || add {item} to the list;
#list {seq} add{item};                  #no || spaces are needed after args without braces;
#list {seq} additem;                    #no || spaces are needed after args without braces;
#list {seq}add item;                    #no || add {item} to the list;
#list {seq}add {item};                  #no || add {item} to the list;
#list {seq}add{item};                   #no || spaces are needed after args without braces;
#list {seq}additem;                     #no || spaces are needed after args without braces;
#list {seq}{add} item;                  #no || add {item} to the list;
#list {seq}{add} {item};                #no || add {item} to the list;
#list {seq}{add}{item};                 #no || add {item} to the list;
#list {seq}{add}item;                   #no || add {item} to the list;
#list {seq} {add} item;                 #no || add {item} to the list;
#list {seq} {add} {item};               #no || add {item} to the list;
#list {seq} {add}{item};                #no || add {item} to the list;
#list {seq} {add}item;                  #no || add {item} to the list;
#list seq {add} item;                   #no || add {item} to the list;
#list seq {add} {item};                 #no || add {item} to the list;
#list seq {add}{item};                  #no || add {item} to the list;
#list seq {add}item;                    #no || add {item} to the list;
#list seq{add} item;                    #no || spaces are needed after args without braces;
#list seq{add} {item};                  #no || spaces are needed after args without braces;
#list seq{add}{item};                   #no || spaces are needed after args without braces;
#list seq{add}item;                     #no || spaces are needed after args without braces;
#list seqadd item;                      #no || spaces are needed after args without braces;
#list seqadd {item};                    #no || spaces are needed after args without braces;
#list seqadd{item};                     #no || spaces are needed after args without braces;
#list seqadditem;                       #no || spaces are needed after args without braces;

#list seq clear;                        #no || empty the given list;
#list seq collapse;                     #no || turn list into a variable;
#list seq delete index number;          #no || delete the item at {index};
#list seq explode;                      #no || turn list into a character list;
#list seq index;                        #no || index a list table for sorting;
#list seq insert index item;            #no || insert {item} at given {index};
#list seq order item;                   #no || insert {item} in numerical order;
#list seq shuffle;                      #no || shuffle the list;
#list seq set index item;               #no || change the {item} at {index};
#list seq simplify item;                #no || turn list into a simple list;
#list seq sort item;                    #no || insert item in alphabetic order;

#list seq create item;                  #no || create a list using {items};
#list seq create {item};                #no || create a list using {items};
#list seq create{item};                 #no || spaces are needed after args without braces;
#list seq createitem;                   #no || spaces are needed after args without braces;
#list {seq} create item;                #no || create a list using {items};
#list {seq} create {item};              #no || create a list using {items};
#list {seq} create{item};               #no || spaces are needed after args without braces;
#list {seq} createitem;                 #no || spaces are needed after args without braces;
#list {seq}create item;                 #no || create a list using {items};
#list {seq}create {item};               #no || create a list using {items};
#list {seq}create{item};                #no || spaces are needed after args without braces;
#list {seq}createitem;                  #no || spaces are needed after args without braces;
#list {seq}{create} item;               #no || create a list using {items};
#list {seq}{create} {item};             #no || create a list using {items};
#list {seq}{create}{item};              #no || create a list using {items};
#list {seq}{create}item;                #no || create a list using {items};
#list {seq} {create} item;              #no || create a list using {items};
#list {seq} {create} {item};            #no || create a list using {items};
#list {seq} {create}{item};             #no || create a list using {items};
#list {seq} {create}item;               #no || create a list using {items};
#list seq {create} item;                #no || create a list using {items};
#list seq {create} {item};              #no || create a list using {items};
#list seq {create}{item};               #no || create a list using {items};
#list seq {create}item;                 #no || create a list using {items};
#list seq{create} item;                 #no || spaces are needed after args without braces;
#list seq{create} {item};               #no || spaces are needed after args without braces;
#list seq{create}{item};                #no || spaces are needed after args without braces;
#list seq{create}item;                  #no || spaces are needed after args without braces;
#list seqcreate item;                   #no || spaces are needed after args without braces;
#list seqcreate {item};                 #no || spaces are needed after args without braces;
#list seqcreate{item};                  #no || spaces are needed after args without braces;
#list seqcreateitem;                    #no || spaces are needed after args without braces;

#list seq tokenize item;                #no || create a character list;
#list seq tokenize {item};              #no || create a character list;
#list seq tokenize{item};               #no || spaces are needed after args without braces;
#list seq tokenizeitem;                 #no || spaces are needed after args without braces;
#list {seq} tokenize item;              #no || create a character list;
#list {seq} tokenize {item};            #no || create a character list;
#list {seq} tokenize{item};             #no || spaces are needed after args without braces;
#list {seq} tokenizeitem;               #no || spaces are needed after args without braces;
#list {seq}tokenize item;               #no || create a character list;
#list {seq}tokenize {item};             #no || create a character list;
#list {seq}tokenize{item};              #no || spaces are needed after args without braces;
#list {seq}tokenizeitem;                #no || spaces are needed after args without braces;
#list {seq}{tokenize} item;             #no || create a character list;
#list {seq}{tokenize} {item};           #no || create a character list;
#list {seq}{tokenize}{item};            #no || create a character list;
#list {seq}{tokenize}item;              #no || create a character list;
#list {seq} {tokenize} item;            #no || create a character list;
#list {seq} {tokenize} {item};          #no || create a character list;
#list {seq} {tokenize}{item};           #no || create a character list;
#list {seq} {tokenize}item;             #no || create a character list;
#list seq {tokenize} item;              #no || create a character list;
#list seq {tokenize} {item};            #no || create a character list;
#list seq {tokenize}{item};             #no || create a character list;
#list seq {tokenize}item;               #no || create a character list;
#list seq{tokenize} item;               #no || spaces are needed after args without braces;
#list seq{tokenize} {item};             #no || spaces are needed after args without braces;
#list seq{tokenize}{item};              #no || spaces are needed after args without braces;
#list seq{tokenize}item;                #no || spaces are needed after args without braces;
#list seqtokenize item;                 #no || spaces are needed after args without braces;
#list seqtokenize {item};               #no || spaces are needed after args without braces;
#list seqtokenize{item};                #no || spaces are needed after args without braces;
#list seqtokenizeitem;                  #no || spaces are needed after args without braces;

#list seq size result;                  #no || copy list size to {result};
#list seq size {result};                #no || copy list size to {result};
#list seq size{result};                 #no || spaces are needed after args without braces;
#list seq sizeresult;                   #no || spaces are needed after args without braces;
#list {seq} size result;                #no || copy list size to {result};
#list {seq} size {result};              #no || copy list size to {result};
#list {seq} size{result};               #no || spaces are needed after args without braces;
#list {seq} sizeresult;                 #no || spaces are needed after args without braces;
#list {seq}size result;                 #no || copy list size to {result};
#list {seq}size {result};               #no || copy list size to {result};
#list {seq}size{result};                #no || spaces are needed after args without braces;
#list {seq}sizeresult;                  #no || spaces are needed after args without braces;
#list {seq}{size} result;               #no || copy list size to {result};
#list {seq}{size} {result};             #no || copy list size to {result};
#list {seq}{size}{result};              #no || copy list size to {result};
#list {seq}{size}result;                #no || copy list size to {result};
#list {seq} {size} result;              #no || copy list size to {result};
#list {seq} {size} {result};            #no || copy list size to {result};
#list {seq} {size}{result};             #no || copy list size to {result};
#list {seq} {size}result;               #no || copy list size to {result};
#list seq {size} result;                #no || copy list size to {result};
#list seq {size} {result};              #no || copy list size to {result};
#list seq {size}{result};               #no || copy list size to {result};
#list seq {size}result;                 #no || copy list size to {result};
#list seq{size} result;                 #no || spaces are needed after args without braces;
#list seq{size} {result};               #no || spaces are needed after args without braces;
#list seq{size}{result};                #no || spaces are needed after args without braces;
#list seq{size}result;                  #no || spaces are needed after args without braces;
#list seqsize result;                   #no || spaces are needed after args without braces;
#list seqsize {result};                 #no || spaces are needed after args without braces;
#list seqsize{result};                  #no || spaces are needed after args without braces;
#list seqsizeresult;                    #no || spaces are needed after args without braces;

#list seq find item result;             #no || assign the found index to {result};
#list seq find item {result};           #no || assign the found index to {result};
#list seq find item{result};            #no || spaces are needed after args without braces;
#list seq find itemresult;              #no || spaces are needed after args without braces;
#list seq find {item} result;           #no || assign the found index to {result};
#list seq find {item} {result};         #no || assign the found index to {result};
#list seq find {item}{result};          #no || assign the found index to {result};
#list seq find {item}result;            #no || assign the found index to {result};
#list seq find{item} result;            #no || spaces are needed after args without braces;
#list seq find{item} {result};          #no || spaces are needed after args without braces;
#list seq find{item}{result};           #no || spaces are needed after args without braces;
#list seq find{item}result;             #no || spaces are needed after args without braces;
#list seq finditem result;              #no || spaces are needed after args without braces;
#list seq finditem {result};            #no || spaces are needed after args without braces;
#list seq finditem{result};             #no || spaces are needed after args without braces;
#list seq finditemresult;               #no || spaces are needed after args without braces;
#list {seq} find item result;           #no || assign the found index to {result};
#list {seq} find item {result};         #no || assign the found index to {result};
#list {seq} find item{result};          #no || spaces are needed after args without braces;
#list {seq} find itemresult;            #no || spaces are needed after args without braces;
#list {seq} find {item} result;         #no || assign the found index to {result};
#list {seq} find {item} {result};       #no || assign the found index to {result};
#list {seq} find {item}{result};        #no || assign the found index to {result};
#list {seq} find {item}result;          #no || assign the found index to {result};
#list {seq} find{item} result;          #no || spaces are needed after args without braces;
#list {seq} find{item} {result};        #no || spaces are needed after args without braces;
#list {seq} find{item}{result};         #no || spaces are needed after args without braces;
#list {seq} find{item}result;           #no || spaces are needed after args without braces;
#list {seq} finditem result;            #no || spaces are needed after args without braces;
#list {seq} finditem {result};          #no || spaces are needed after args without braces;
#list {seq} finditem{result};           #no || spaces are needed after args without braces;
#list {seq} finditemresult;             #no || spaces are needed after args without braces;
#list {seq}find item result;            #no || assign the found index to {result};
#list {seq}find item {result};          #no || assign the found index to {result};
#list {seq}find item{result};           #no || spaces are needed after args without braces;
#list {seq}find itemresult;             #no || spaces are needed after args without braces;
#list {seq}find {item} result;          #no || assign the found index to {result};
#list {seq}find {item} {result};        #no || assign the found index to {result};
#list {seq}find {item}{result};         #no || assign the found index to {result};
#list {seq}find {item}result;           #no || assign the found index to {result};
#list {seq}find{item} result;           #no || spaces are needed after args without braces;
#list {seq}find{item} {result};         #no || spaces are needed after args without braces;
#list {seq}find{item}{result};          #no || spaces are needed after args without braces;
#list {seq}find{item}result;            #no || spaces are needed after args without braces;
#list {seq}finditem result;             #no || spaces are needed after args without braces;
#list {seq}finditem {result};           #no || spaces are needed after args without braces;
#list {seq}finditem{result};            #no || spaces are needed after args without braces;
#list {seq}finditemresult;              #no || spaces are needed after args without braces;
#list {seq}{find} item result;          #no || assign the found index to {result};
#list {seq}{find} item {result};        #no || assign the found index to {result};
#list {seq}{find} item{result};         #no || spaces are needed after args without braces;
#list {seq}{find} itemresult;           #no || spaces are needed after args without braces;
#list {seq}{find} {item} result;        #no || assign the found index to {result};
#list {seq}{find} {item} {result};      #no || assign the found index to {result};
#list {seq}{find} {item}{result};       #no || assign the found index to {result};
#list {seq}{find} {item}result;         #no || assign the found index to {result};
#list {seq}{find}{item} result;         #no || assign the found index to {result};
#list {seq}{find}{item} {result};       #no || assign the found index to {result};
#list {seq}{find}{item}{result};        #no || assign the found index to {result};
#list {seq}{find}{item}result;          #no || assign the found index to {result};
#list {seq}{find}item result;           #no || assign the found index to {result};
#list {seq}{find}item {result};         #no || assign the found index to {result};
#list {seq}{find}item{result};          #no || spaces are needed after args without braces;
#list {seq}{find}itemresult;            #no || spaces are needed after args without braces;
#list {seq} {find} item result;         #no || assign the found index to {result};
#list {seq} {find} item {result};       #no || assign the found index to {result};
#list {seq} {find} item{result};        #no || spaces are needed after args without braces;
#list {seq} {find} itemresult;          #no || spaces are needed after args without braces;
#list {seq} {find} {item} result;       #no || assign the found index to {result};
#list {seq} {find} {item} {result};     #no || assign the found index to {result};
#list {seq} {find} {item}{result};      #no || assign the found index to {result};
#list {seq} {find} {item}result;        #no || assign the found index to {result};
#list {seq} {find}{item} result;        #no || assign the found index to {result};
#list {seq} {find}{item} {result};      #no || assign the found index to {result};
#list {seq} {find}{item}{result};       #no || assign the found index to {result};
#list {seq} {find}{item}result;         #no || assign the found index to {result};
#list {seq} {find}item result;          #no || assign the found index to {result};
#list {seq} {find}item {result};        #no || assign the found index to {result};
#list {seq} {find}item{result};         #no || spaces are needed after args without braces;
#list {seq} {find}itemresult;           #no || spaces are needed after args without braces;
#list seq {find} item result;           #no || assign the found index to {result};
#list seq {find} item {result};         #no || assign the found index to {result};
#list seq {find} item{result};          #no || spaces are needed after args without braces;
#list seq {find} itemresult;            #no || spaces are needed after args without braces;
#list seq {find} {item} result;         #no || assign the found index to {result};
#list seq {find} {item} {result};       #no || assign the found index to {result};
#list seq {find} {item}{result};        #no || assign the found index to {result};
#list seq {find} {item}result;          #no || assign the found index to {result};
#list seq {find}{item} result;          #no || assign the found index to {result};
#list seq {find}{item} {result};        #no || assign the found index to {result};
#list seq {find}{item}{result};         #no || assign the found index to {result};
#list seq {find}{item}result;           #no || assign the found index to {result};
#list seq {find}item result;            #no || assign the found index to {result};
#list seq {find}item {result};          #no || assign the found index to {result};
#list seq {find}item{result};           #no || spaces are needed after args without braces;
#list seq {find}itemresult;             #no || spaces are needed after args without braces;
#list seq{find} item result;            #no || spaces are needed after args without braces;
#list seq{find} {item} result;          #no || spaces are needed after args without braces;
#list seq{find}{item} result;           #no || spaces are needed after args without braces;
#list seq{find}item result;             #no || spaces are needed after args without braces;
#list seqfind item result;              #no || spaces are needed after args without braces;
#list seqfind {item} result;            #no || spaces are needed after args without braces;
#list seqfind{item} result;             #no || spaces are needed after args without braces;
#list seqfinditem result;               #no || spaces are needed after args without braces;
#list seq find {item 0} result;         #no XX spaces not correctly supported in braced args;

#list seq get index result;             #no || copy an item at index to {result};
