#no tests for variable definition commands;

#var                                    #no || unterminated bare command;
#vaRiaBle                               #no || unterminated bare command, cases folded;
#variablezzzz;                          #no || command without space is not highlighted;
#var;                                   #no || terminated but incomplete command;
#var x;                                 #no || variable without value not highlighted;
#var x                                  #no || variable without value highlighted if unterminated;
#var x data;                            #no || unbraced value;
#var x {};                              #no || empty braced value;
#var x {data};                          #no || braced value;
#var {x} {data};                        #no || braced variable and value;
#var {x}{data};                         #no || braced variable and value without spaces;
#var {x} data;                          #no || braced variable and unbraced value;
#var {x}data;                           #no || braced variable and unbraced value without spaces;
#var{x}data;                            #no || braced variable without space is not highlighted;
#var {} data;                           #no || good that the value isn't highlighted;
#var x $result;                         #no || variable usage in value is correctly highlighted;
#var {x$y} data;                        #no || variable usage in variable definition;
#var {x${y}} data;                      #no || braced variable usage in variable definition;
#var x[something] data;                 #no || array/table highlighted as variable;
#var x[some thing] data;                #no || array/table highlighted as variable, even w/ spaces;
#var test[abc]	data;                   #no || highlighting works with tab delimiters too;
#var x[some$thing] data;                #no || array/table highlighted with variable usage;
#var x[some $thing] data;               #no || array/table highlighted with variable usage;
#var x[some ${thing}] data;             #no || array/table highlighted with braced variable usage;
#var x[a][b] data;                      #no || multiple braces are acceptable too;
#if {$a} {#var x t}{#var x f};          #no || multiple definitions on same line;
#var x a; #var x b;                     #no || multiple definitions on same line;
#var x; data;                           #no || prematurely terminated command not highlighted;

#var var_def a;                         #no || standard variable;
#var var_def[table] a;                  #no || variable with table;
#var var_def[table and spaces] a;       #no || variable with table and spaces;
#var var_def[table and $variable] a;    #no || variable with table and spaces contianing variable;
#var var_def[table ${variable}] a;      #no || variable with table, spaces, and braced  variable;
#var var_def[+ "wow" & don't!] a;       #no || tables can have all sorts of characters in them;
#var variable[multiple][tables] a;      #no || nested tables work;
#var dot.notation.for.real a;           #no || dot notation works;
#var dots.and[tables] a;                #no || dot notation can be mixed with tables;
#var can't_believe_this_works a;        #no || single quotes are actually fine in variable names;
#var "nope"this"does_not_work" a;       #no XX double quotes don't work in unbraced variables;
#var neither"does"this a;               #no XX double quotes don't work in unbraced variables;
#var "nor_does_this" a;                 #no XX double quotes don't work in unbraced variables;
#var {var_def} a;                       #no || braced variable;
#var {var_def[table]} a;                #no || braced variable with table;
#var {var_def[table and spaces]} a;     #no || braced variable with table and spaces;
#var {var_def[table and $variable]} a;  #no || braced variable with table, spaces, and variable;
#var {var_def[table ${variable}]} a;    #no || braced variable with table, spaces, braced variable;
#var {var_def[+ "wow" & don't!]} a;     #no || tables can have all sorts of characters in them;
#var {variable[multiple][tables]} a;    #no || braced variables and nested tables work;
#var {dot.notation.for.real} a;         #no || dot notation works;
#var {dots.and[tables]} a;              #no || dot notation can be mixed with braces;
#var {can't_believe_this_works} a;      #no || single quotes are fine in braced variables;
#var {"yep"this"works_w_braces"} a;     #no || double quotes should be ok unless they are excl ends;
#var {so"does"this} a;                  #no || as above, this should work: more than just ends;
#var {"this_still_doesnt"} a;           #no XX double quotes at just the ends don't work;
#var {"this"does"} a;                   #no || double quotes at ends are fine if one is inside too;
#var {"""} a;                           #no || even just three quotes works;
#var {""} a;                            #no XX but two quotes don't work;
#var {x""} a;                           #no || adding a character at the beginning is ok;
#var {""x} a;                           #no || adding a character at the end is ok;
#var {believe it, "this" works....} a;  #no || this madness should work... braces are permissive;
#var {uh oh... #no works here too} a;   #no XX commands should just be highlighted as variables;

#unvar;                                 #no || bare unvariable command;
#unvar x;                               #no || unbraced variable;
#unvar {x};                             #no || braced variable;

#loc                                    #no || unterminated bare command;
#loCaL                                  #no || unterminated bare command, cases folded;
#localzzzz;                             #no || command without space is not highlighted;
#local;                                 #no || terminated but incomplete command;
#local x;                               #no || variable without value not highlighted;
#local x data;                          #no || unbraced value;
#local x {};                            #no || empty braced value;
#local x {data};                        #no || braced value;
#local {x} {data};                      #no || braced variable and value;
#local {x}{data};                       #no || braced variable and value without spaces;
#local {x} data;                        #no || braced variable and unbraced value;
#local {x}data;                         #no || braced variable and unbraced value without spaces;
#local{x}data;                          #no || braced variable without space is not highlighted;
#local {} data;                         #no || good that the value isn't highlighted;
#local x $result;                       #no || variable usage in value is correctly highlighted;
#local {x$y} data;                      #no || variable usage in variable definition;
#if {$a} {#local x t}{#local x f};      #no || multiple definitions on same line;
#local x a; #local x b;                 #no || multiple definitions on same line;
#local x; data;                         #no || prematurely terminated command not highlighted;
#unlocal;                               #no || bare unlocal command;
#unlocal x;                             #no || unlocal with unbraced variable;
#unlocal {x};                           #no || unlocal with braced variable;

#cat                                    #no || unterminated bare command;
#caT                                    #no || unterminated bare command, cases folded;
#catzzzz;                               #no || command without space is not highlighted;
#cat;                                   #no || terminated but incomplete command;
#cat x;                                 #no || variable without value not highlighted;
#cat x data;                            #no || unbraced value;
#cat x {};                              #no || empty braced value;
#cat x {data};                          #no || braced value;
#cat {x} {data};                        #no || braced variable and value;
#cat {x}{data};                         #no || braced variable and value without spaces;
#cat {x} data;                          #no || braced variable and unbraced value;
#cat {x}data;                           #no || braced variable and unbraced value without spaces;
#cat{x}data;                            #no || braced variable without space is not highlighted;
#cat {} data;                           #no || good that the value isn't highlighted;
#cat x $result;                         #no || variable usage in value is correctly highlighted;
#cat {x$y} data;                        #no || variable usage in variable;
#if {$a} {#cat x t}{#cat x f};          #no || multiple definitions on same line;
#cat x a; #cat x b;                     #no || multiple definitions on same line;
#cat x; data;                           #no || prematurely terminated command not highlighted;
