#no tests for variable definition commands;

#var                                #no || unterminated bare command;
#vaRiaBle                           #no || unterminated bare command, cases folded;
#variablezzzz;                      #no || command without space is not highlighted;
#var;                               #no || terminated but incomplete command;
#var x;                             #no || variable without value not highlighted;
#var x data;                        #no || unbraced value;
#var x {};                          #no || empty braced value;
#var x {data};                      #no || braced value;
#var {x} {data};                    #no || braced variable and value;
#var {x}{data};                     #no || braced variable and value without spaces;
#var {x} data;                      #no || braced variable and unbraced value;
#var {x}data;                       #no || braced variable and unbraced value without spaces;
#var{x}data;                        #no || braced variable without space is not highlighted;
#var {} data;                       #no || good that the value isn't highlighted;
#var x $result;                     #no || variable usage in value is correctly highlighted;
#var {x$y} data;                    #no || variable usage in variable definition;
#no #var {x${y}} data;              #no XX TODO;
#var x[something] data;             #no || array/table highlighted as variable;
#var x[some thing] data;            #no || array/table highlighted as variable, even with spaces;
#var test[abc]	data;               #no || highlighting works with tab delimiters too;
#var x[some $thing] data;           #no || array/table highlighted with variable usage;
#var x[some ${thing}] data;         #no || array/table highlighted with braced variable usage;
#if {$a} {#var x t}{#var x f};      #no || multiple definitions on same line;
#var x a; #var x b;                 #no || multiple definitions on same line;
#var x; data;                       #no || prematurely terminated command not highlighted;
#unvar;                             #no || bare unvariable command;
#unvar x;                           #no || unbraced variable;
#unvar {x};                         #no || braced variable;

#loc                                #no || unterminated bare command;
#loCaL                              #no || unterminated bare command, cases folded;
#localzzzz;                         #no || command without space is not highlighted;
#local;                             #no || terminated but incomplete command;
#local x;                           #no || variable without value not highlighted;
#local x data;                      #no || unbraced value;
#local x {};                        #no || empty braced value;
#local x {data};                    #no || braced value;
#local {x} {data};                  #no || braced variable and value;
#local {x}{data};                   #no || braced variable and value without spaces;
#local {x} data;                    #no || braced variable and unbraced value;
#local {x}data;                     #no || braced variable and unbraced value without spaces;
#local{x}data;                      #no || braced variable without space is not highlighted;
#local {} data;                     #no || good that the value isn't highlighted;
#local x $result;                   #no || variable usage in value is correctly highlighted;
#local {x$y} data;                  #no || variable usage in variable definition;
#if {$a} {#local x t}{#local x f};  #no || multiple definitions on same line;
#local x a; #local x b;             #no || multiple definitions on same line;
#local x; data;                     #no || prematurely terminated command not highlighted;
#unlocal;                           #no || bare unlocal command;
#unlocal x;                         #no || unlocal with unbraced variable;
#unlocal {x};                       #no || unlocal with braced variable;

#cat                                #no || unterminated bare command;
#caT                                #no || unterminated bare command, cases folded;
#catzzzz;                           #no || command without space is not highlighted;
#cat;                               #no || terminated but incomplete command;
#cat x;                             #no || variable without value not highlighted;
#cat x data;                        #no || unbraced value;
#cat x {};                          #no || empty braced value;
#cat x {data};                      #no || braced value;
#cat {x} {data};                    #no || braced variable and value;
#cat {x}{data};                     #no || braced variable and value without spaces;
#cat {x} data;                      #no || braced variable and unbraced value;
#cat {x}data;                       #no || braced variable and unbraced value without spaces;
#cat{x}data;                        #no || braced variable without space is not highlighted;
#cat {} data;                       #no || good that the value isn't highlighted;
#cat x $result;                     #no || variable usage in value is correctly highlighted;
#cat {x$y} data;                    #no || variable usage in variable;
#if {$a} {#cat x t}{#cat x f};      #no || multiple definitions on same line;
#cat x a; #cat x b;                 #no || multiple definitions on same line;
#cat x; data;                       #no || prematurely terminated command not highlighted;
